@model Ogłoszenia_Drobne.Models.Announcement

@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfEntries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfEntries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAuthor)
        </dd>

    </dl>
</div>
<p>

   
    @Html.ActionLink("Back to List", "Index")
</p>
